aside {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 1px;
        height: calc(100% - 8rem);
        border-right: dashed 0.1rem rgba(0, 0, 0, 0.3);
        z-index: 1;
        transform: translateY(-50%);
    }
}

#main_navbar {
    gap: 1rem;
    padding: 1rem 0;
    background-color: black;

    &:hover {
        .nav-item {

            .feather {
                transform: translateY(0);
            }

            &__title {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .feather {
        stroke: white;
    }
}

.nav-item {
    position: relative;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    transition: opacity 0.2s, transform 0.2s;
    width: 100%;

    &__title {
        font-size: 0.9rem;
        font-weight: 500;
        transition: transform 0.2s, opacity 0.2s;
        color: white;
    }

    &--active {
        opacity: 1;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 0.2rem;
            height: 1.5rem;
            background-color: white;
            transform: translateY(-50%);
        }
    }

    &:active {
        transform: scale(0.95);
    }
}

.divider--horizontal {
    border-color: white;
}

@media (any-hover: hover) {
    #main_navbar {
        .nav-item {
            opacity: 0.8;

            .feather {
                transform: translateY(0.9rem);
                transition: transform 0.2s;
            }

            &__title {
                opacity: 0;
                transform: translateY(0.9rem);
            }

            &:hover,
            &--active {
                opacity: 1;
            }
        }
    }
}