.chat-card {
    color: black;
    transition: background-color 0.2s, transform 0.2s;

    &__title {}

    button {
        padding: 0.75rem;
        transition: transform 0.2s, opacity 0.2s;

        &:active {
            transform: scale(0.95);
        }
    }

    &__actions {
        background-color: #f5f5f5;
        transition: opacity 0.2s, background-color 0.2s, transform 0.2s;
        border-radius: 0 0.3rem 0.3rem 0;

        &::before {
            position: absolute;
            content: '';
            width: 2rem;
            right: 100%;
            top: 0;
            bottom: 0;
            background: linear-gradient(to left, #f5f5f5, transparent 70%);
            pointer-events: none;
        }

        button {
            opacity: 0.5;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }

    &--active {
        background-color: #f5f5f5;

        .chat-card__title {
            font-weight: 500;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 0.2rem;
            height: 60%;
            background-color: currentColor;
            transform: translateY(-50%);
        }
    }

    &--active {
        .chat-card__actions {
            opacity: 1;
        }

        background-color: #f5f5f5;
    }
}

@media screen and (min-width: 768px) {
    #chat_bar {
        width: 18rem;
    }
}

@media (any-hover: hover) {
    .chat-card {

        .chat-card__actions {
            opacity: 0;
        }

        &:hover {
            background-color: #f5f5f5;

            .chat-card__actions {
                opacity: 1;
            }
        }
    }

}